<ion-header>
    <ion-navbar>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    aqui
    <!-- <div id="map_canvas"></div> -->
    <!-- <ion-list>
        <ion-item *ngFor="let notification of notifications | async">
            <p>{{notification.tags}}</p>
            <p>{{notification.position}}</p>
        </ion-item>
    </ion-list> -->
    <rl-tag-input [(ngModel)]="topics" [addOnBlur]="false" [autocomplete]="true" [autocompleteItems]="preparedTags" placeholder="Topics">
    </rl-tag-input>
    <button ion-button full (click)="addTalk()">Añadir</button>
    <button ion-button full (click)="showDatabase()">recoger</button>
    <ul>
        <li *ngFor="let item of items | async">
            <input type="text" #updatetext [value]="item.text" />
        </li>
    </ul>
</ion-content>